body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div1 {
    background: aliceblue;
    padding: 20px 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.div1 h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form1 {
    display: flex;
    flex-direction: column;
}

/* Add space between all input fields, select, and button */
.form1 select,
.form1 input,
.form1 button {
    margin-bottom: 12px;
}

.form1 select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form1 input {
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.btn {
    background-color: #15243b;
    color: white;
    padding: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ad8f5b;
}

.form1 a {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    text-decoration: none;
    color: #15243b;
}

.form1 a:hover {
    color: #ad8f5b;
    text-decoration: underline;
}
