body {
  font-family: sans-serif;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0; 
}

.register-box {
  background: aliceblue;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(0, 0, 0.1);
  width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  color:#15243b; 
}
label {
  font-weight: 500;
  margin-top: 10px;
  color: #334155;
}  

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #15243b;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  font-weight: bold;
}

button:hover {
  background-color:#ad8f5b;
}

.options {
  text-align: center;
  margin-top: 15px;
}

.options a {
  text-decoration: none;
  color: #15243b;
}

.options a:hover{
  color:#ad8f5b;
  text-decoration:underline;
}


